*{
    margin: 0;
    padding: 0;
    background: #363b4e;
    font-family:sans-serif;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
}

nav{
    display:flex;
    width:100%;/*logo and buttons*/
    margin: auto;
    padding: 10px 20px 0px 20px;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 5px;
    font-size: xx-small;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight:200;
}
nav ul li a:hover{
    color:#927fbf;
}
nav h1{
    text-align: right;
    font-size:x-small;
    color:white;
}

.info{
    width: 100%;
}
.info h1{
    padding-top:100px;
    font-size: 150px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}
.info h3{
    font-size: 20px;
    color:#927fbf;
    margin-bottom: 5px;
    text-align: center;
}
.info h2{
    padding:2px 5px 10px;
    font-family: arial;
    font-size: 30px;
    color:#c4bbf0;
    line-height: 44px;
    text-align: center;
}
.info p{
    padding:0px 30px 20px;
    font-family: arial;
    font-size: 16px;
    color: white;
    line-height: 24px;
    text-align: center;
}


/*ABOUT*/
.detail2{
    color: white;
}

.detail2 h2{
    padding-top:10px;
    font-size: 15px;
    color: white;
    line-height: 24px;
    text-align:center;
}
.detail2 p{
    padding:5px 30px 30px 30px;
    font-size: 10px;
    color: white;
    line-height: 20px;
    text-align:justify;
}
.detail2 span{
    color:#c4bbf0;
}

/*aboutmepic*/
.position {
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
  }


  /*MY WORKS*/

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 90vh;
    flex-direction: column;
    font-size: 15px;
}
.buttons a{
    background:#927fbf ;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    width:80%;
    cursor: pointer;
    border-radius: 5px;
}

.buttons h3{
    color:#927fbf;
    font-size: small;
}

.buttons a:hover {
    background-color:#c4bbf0;
}


/* drawing*/ 
.backbutton{
    align-items:flex-start;
    padding: 15px 0px 0px 20px;
    text-align: left;
}
.backbutton a{
    color:#c4bbf0;
    text-decoration: none;
    font-size: 150%;
}

.backbutton a:hover{
    color: #927fbf;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.polaroid {
    max-width: 100%;
    background-color: #4f3b78;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow: hidden;
    text-align: center;
    
}

.polaroid img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    height:150px;
    object-fit: cover;

}


.caption{
    padding: 0 10px 10px 10px;
    background-color:#4f3b78;
    border-radius:0 0 10px 10px ;
    color:white;
    font-size: 10%;

}

.codelinks{
    display: flex;
    flex-direction: column;
    padding: 6rem;
    align-items: center;
}

.codelinks a{
    width: 100%;
    padding:30px 0 30px 0;
    text-align:center;
    text-decoration: none;
    color:#c4bbf0;

}

  /*CONTACTS*/
.social-links{
    display: flex;
    flex-direction: column;
    padding: 6rem;
    align-items: center;
}
.social-links a{
    width: 100px;
    padding:30px 0 30px 0;
    text-align: center;
    text-decoration: none;
    color:#c4bbf0;
}
.social-links span:hover{
    color: #927fbf;
}


@media only screen and (min-width: 768px) {
    .wrapper{
        width: 100%;
    }

    nav h1{
        font-size:large;
    }
    nav ul li{
        margin: 10px 20px;
        font-size: medium;
    }
    nav ul li a{
        font-weight:400;
    }

    .info h1{
        padding-top:200px;
        font-size: 200px;
    }
    .info h2{
        padding:20px 0px 0px;
        font-size: 40px;
    }
    .info h3{ 
        font-size: 30px;
    }
    .info p{
        padding:20px 0px 0px;
        font-size: 21px;
    }


    /*ABOUT IPAD*/
    .detail2 h2{
        font-size: 25px;
        line-height: normal;

    }
    .detail2 p{
        font-size: 20px;
        line-height: normal;
        font-weight: 100;
        margin: 0px 20px;
    }

    .position {
        margin-top: 3rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    
    
    /*MY WORKS IPAD*/

    .buttons {
        height: 90vh;
        font-size: 30px;
    }
    .buttons a{
        padding: 20px 20px 0px 10px;
        height:10%;
    }
    .buttons h3{
        font-size:medium;
    }

    /*DRAWING IPAD*/
    .backbutton{
        padding: 50px 0px 0px 50px;
    }
    .backbutton a{
        font-size: 200%;
    }

    .polaroid img{
        height:200px;
    }


    .codelinks{
        padding-top:5rem;
        font-size: 30px;
    }

    .codelinks a{
        position:sticky;
        width:100%;
        padding: 50px 0 50px 0;
        text-align: center;

    }

    /*CONTACTS IPAD*/
    .social-links{
        padding-top:5rem;
        font-size: 30px;
      }
    .social-links a{
        position:sticky;
        width:100%;
        padding: 50px 0 50px 0;
    }

}


@media only screen and (min-width: 1000px) {
    .wrapper{
        width: 100%;
    }

    .info{
        padding-top: 30px;
    }
    nav h1{
        font-size:20px;
    }
    nav ul li{
        font-size:15px;
        margin: 10px 30px 1 0px 30px;
    }
    nav ul li a{
        font-weight:600;
    }

    .info{
        width: 100%;
        float:none;
    }
    .info h1{
        padding-top:100px;
        font-size:80;
    }
    .info h2{
        padding:20px 0px 0px 30px;
    }
    .info p{
        padding:20px 0px 0px 30px;
        font-size:130%;
    }
    .info h3{
        font-size: 170%;
    }

    /*ABOUT DESKTOP*/
    /*aboutmepic*/
    .position{
        float:right;
        margin-right:5%;
        margin-left:5%;
        margin-top: 5%;
    }

    .detail2 img{
        width:40%;
    }

    .detail2 h2{
        padding-top: 6rem;
        font-size: 20px;
        text-align:left;
        margin-left: 80px;

    }
    .detail2 p{
        padding-left: 0%;
        text-align:left;
        font-size: 20px;
        margin:0px 50px 0px 80px;
        
    }

    /*MY WORKS DESKTOP*/
    .buttons {                                                                                                
        font-size: 20px;
        
    }  
    .buttons a{
        padding: 20px 10px 0px 0px;
        width:40%;
        height:10%;
    }

    .buttons h3{
        font-size:large;
    }

    /*DRAWING DESKTOP*/
    .backbutton{
        padding: 50px 0px 0px 50px;
    }
    .backbutton a{
        font-size: 300%;
    }

    .polaroid{
        height: 400px;
    }

    .polaroid img {
        height:300px;
    }

    .caption{
        padding-top: 5%;
        font-size: 80%;
    }

    .images{
        flex-direction: row;
        gap:5%;
        display:flex;
        justify-content: none;
        height: calc(100vh - 190px);

    }

    .codelinks{
        height: 100%;
        padding: 5rem 0 0 0;
    }

    .codelinks a{
        width: 30%;
        margin: 0px 0px 0px 0px;
        position:sticky;
        text-align: center;

    }
    /*CONTACTS DESKTOP*/
    .social-links{
        height: 100%;
        padding: 4rem 0 0 0;
      }
    .social-links a{
        width: 30%;
        margin: 0px 0px 0px 0px;
        position:sticky;
      }
}
